.bd_t_1,
.bd_r_1,
.bd_b_1,
.bd_l_1 {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 0 0;
  }
}

.bd_t_1 {
  &::before {
    border-top: 1PX solid $color-row-line;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin: 0 top;
  }
}

.bd_r_1 {
  &::after {
    border-right: 1PX solid $color-row-line;
    top: 0;
    right: 0;
    height: 100%;
    transform-origin: right 0;
  }
}

.bd_b_1 {
  &::after {
    border-bottom: 1px solid $color-row-line;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-origin: 0 bottom;
  }
}

.bd_l_1 {
  &::before {
    border-left: 1px solid $color-row-line;
    top: 0;
    left: 0;
    height: 100%;
    transform-origin: left 0;
  }
}

@media (min-resolution: 2dppx) {
  .bd_t_1 {
    &::before {
      width: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }

  .bd_r_1 {
    &::after {
      height: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }

  .bd_b_1 {
    &::after {
      width: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }

  .bd_l_1 {
    &::before {
      height: 200%;
      transform: scale(0.5) translateZ(0);
    }
  }
}

@media (min-resolution: 3dppx) {
  .bd_t_1 {
    &::before {
      width: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }

  .bd_r_1 {
    &::after {
      height: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }

  .bd_b_1 {
    &::after {
      width: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }

  .bd_l_1 {
    &::before {
      height: 300%;
      transform: scale(0.333) translateZ(0);
    }
  }
}

@function setSpace($i, $is) {
  @if ($is == 1) {
    @return $i*$space-base;
  } @else {
    @return #{$i*$space-base}$unit-base;
  }
}

@for $i from 1 through 3 {

  @each $name,
  $value in (ml, left),
  (mt, top),
  (mr, right),
  (mb, bottom) {
    .#{$name}_#{setSpace($i, 1)} {
      margin-#{$value}: setSpace($i, 0);
    }
  }

  @each $name,
  $value in (pl, left),
  (pt, top),
  (pr, right),
  (pb, bottom) {
    .#{$name}_#{setSpace($i, 1)} {
      padding-#{$value}: setSpace($i, 0);
    }
  }

  .m_lr_#{setSpace($i, 1)} {
    margin-left: setSpace($i, 0);
    margin-right: setSpace($i, 0);
  }

  .p_lr_#{setSpace($i, 1)} {
    padding-left: setSpace($i, 0);
    padding-right: setSpace($i, 0);
  }
}

@each $name,
$value in (l, left),
(c, center),
(r, right) {
  .text_#{$name} {
    text-align: $value;
  }
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.c_black {
  color: $color-black;
}

.c_white {
  color: $color-white;
}

.c_gray {
  color: $color-light-grey;
}

.bg_gray {
  background: $color-background;
}

.bg_white {
  background: $color-white;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}